@charset "UTF-8";
/*css ³õÊ¼»¯ */
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img { margin:0; padding:0; }
fieldset, img,input,button { border:0 none; padding:0;margin:0;outline-style:none; }   /*È¥µôinputµÈ¾Û½¹Ê±µÄÀ¶É«±ß¿ò*/
ul, ol { list-style:none; }
input { padding-top:0; padding-bottom:0; font-family: "SimSun","ËÎÌå";}
select, input { vertical-align:middle;}
select, input, textarea { font-size:12px; margin:0; }
textarea { resize:none; } /*·ÀÖ¹ÍÏ¶¯*/
img {border:0; vertical-align:middle; }  /*  È¥µôÍ¼Æ¬µÍ²âÄ¬ÈÏµÄ3ÏñËØ¿Õ°×·ìÏ¶£¬»òÕßÓÃdisplay£ºblockÒ²¿ÉÒÔ*/
table { border-collapse:collapse; }
body {
    font:12px/150% Arial,Verdana,"\5b8b\4f53";
    color:#666;
    background:#fff;
     }
.clearfix:after{
    content:"";
    display:block;
    height:0;
    clear:both;
    overflow: hidden;
    visibility: hidden;
    zoom:1;
}
*{
  box-sizing: border-box;
}
a{color:#666; text-decoration:none;}
a:hover{color:#C81623;}
h1,h2,h3,h4,h5,h6 {text-decoration:none;font-weight:normal;font-size:100%;}  /*ÉèÖÃh±êÇ©µÄ´óÐ¡£¬ÉèÖÃ¸ú¸¸Ç×Ò»Ñù´óµÄ×ÖÌåfont-size:100%;*/
s,i,em{font-style:normal;text-decoration:none;}
.col-red{color: #C81623!important;}

/*¹«¹²Àà*/
.container{  /*°æÐÄ ÌáÈ¡ */
    width: 1200px;margin:0 auto;
}
.fl {
    float:left;
}
.fr {
    float:right;
}
.al {
    text-align:left;
}
.ac {
    text-align:center;
}
.ar {
    text-align:right;
}
.hide {
    display:none;
}
.font12{ font-size: 12px;}
.font14{ font-size: 14px;}
.font16{ font-size: 16px;}


@font-face {font-family: "iconfont";
          src: url('../font/iconfont.eot'); /* IE9*/
          src: url('../font/iconfont.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('../font/iconfont.woff') format('woff'), /* chrome, firefox */
          url('../font/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
          url('../font/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
        }

        .iconfont {
          font-family:"iconfont" !important;
          font-size:14px;
          font-style:normal;
          -webkit-font-smoothing: antialiased;
          -webkit-text-stroke-width: 0.2px;
          -moz-osx-font-smoothing: grayscale;
        }
        .icon-search2:before { content: "\e62a"; }

        .icon-tel:before { content: "\e63a"; }

        .icon-arrfill_u-copy:before { content: "\e647"; }

        .icon-arrow1-copy:before { content: "\e781"; }

        .icon-jiantou-copy-copy:before { content: "\e679"; }

        .icon-icons17:before { content: "\e650"; }

        .icon-icontishiwenhao:before { content: "\e605"; }

        .icon-zuosanjiao-copy:before { content: "\e603"; }

        .icon-gouwuche:before { content: "\e505"; }


         @font-face {font-family: "iconfont";
          src: url('../font2/iconfont.eot'); /* IE9*/
          src: url('../font2/iconfont.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('../font2/iconfont.woff') format('woff'), /* chrome, firefox */
          url('../font2/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
          url('../font2/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
        }

        .iconfont2 {
          font-family:"iconfont" !important;
          font-size:16px;
          font-style:normal;
          -webkit-font-smoothing: antialiased;
          -webkit-text-stroke-width: 0.2px;
          -moz-osx-font-smoothing: grayscale;
        }
        .icon-category:before { content: "\e699"; }

        .icon-more:before { content: "\e6a7"; }

        .icon-viewgallery:before { content: "\e6b4"; }

        .icon-viewlist:before { content: "\e6b5"; }

        .icon-account:before { content: "\e6b8"; }

        .icon-add:before { content: "\e6b9"; }

        .icon-link:before { content: "\e6f7"; }

        .icon-C:before { content: "\e62f"; }

        .icon-fenlei:before { content: "\e630"; }

        .icon-xiaoxi:before { content: "\e631"; }

        .icon-sousuo:before { content: "\e632"; }

        .icon-zhiding:before { content: "\e635"; }

        .icon-tabguanbi:before { content: "\e638"; }

        .icon-cainixihuan:before { content: "\e652"; }

        .icon-huanyihuan:before { content: "\e653"; }

        .icon-zhuanjiaguandian-gai:before { content: "\e60e"; }


      /*-------头部（header）部分-------------*/
    
    #header{background-color:#FF4500;}
    .tou_t1>li{float:left;}
    .tou_t1>li>a{display:block;font-size: 14px;color:#FFFFFF;padding-right:8px;padding-top:4px;padding-bottom:12px;}
    .tou_t1>li:nth-child(2n),.tou_t2>li:nth-child(2n-1),.tou_c1>li{text-decoration: underline;}
    .tou_t1>li:nth-child(5)>a,.tou_t2>li:nth-child(2)>a span:nth-child(3){color:#FFCC00;}
    .tou_t2>li{float:left;}
    .tou_t2>li>a{display:block;font-size: 14px;color:#FFFFFF;padding-left:16px;padding-top:4px;padding-bottom:12px;}
    .tou_t2 .icon-gouwuche,.tou_t2 .s1{padding-right:6px;}
    .tou_t2 .icon-gouwuche span{padding-left:4px;}
    .tou_t2 .icon-icontishiwenhao{padding-right:3px;}

    .tou_c h1{width: 310px;height: 54px;background:url("../images/header1.png");}
    .tou_c input{width: 355px;height: 32px;font-size:12px;padding-left:24px;color:#837592;vertical-align: top;background-color: #CFCFCF;}
    .tou_c button{width: 82px;height: 32px;color:#FFFFFF;vertical-align: top;background-color: #50302C;}
    .tou_c1>li{float:left;margin-right:10px;}
    .tou_c1>li>a{display:block;font-size:12px;color:#FFFFFF;padding-top:3px;}
    .phone{height: 28px;padding-top:6px;}
    .phone .icon-tel{font-size: 28px;color:#FFFFFF;}
    .phone span{font-size:20px;color:#FFFFFF;}


/*----------------头部菜单(以下内容谭志坚于12月30日添加)------------------*/

    .tou_t2 li:first-child{position:relative;z-index:2;}
    .tou_t2 li:first-child ul{display: none;width: 132px;height: 186px;background-color: #fff;padding:0 6px;position:absolute;top:20px;left:0;border: 1px solid #ccc;} 
    .tou_t2 li:first-child ul li{border-bottom: 1px dashed #ccc;}
    .tou_t2 li:first-child ul li a{display: inline-block;font-size: 10px;line-height: 29px;color: #000;vertical-align: middle;}
    .tou_t2 li:first-child ul li i{display: inline-block;width: 16px;height: 28px;vertical-align: middle;}
    .tou_t2 li:first-child ul li:first-child i{background:url("../images/tidemall.png") -170px 0;}
    .tou_t2 li:first-child ul li:nth-child(2) i{background:url("../images/tidemall.png") -200px -4px;}
    .tou_t2 li:first-child ul li:nth-child(3) i{background:url("../images/tidemall.png") -220px -4px;}
    .tou_t2 li:first-child ul li:nth-child(4) i{background:url("../images/tidemall.png") -250px -4px;}
    .tou_t2 li:first-child ul li:nth-child(5) i{background:url("../images/tidemall.png") -275px -4px;}
    .tou_t2 li:first-child ul li:nth-child(6) i{background:url("../images/tidemall.png") -300px -4px;}
    .tou_t2 li:first-child:hover>a{background-color: #fff;color: #FF4500;}
    .tou_t2 li:first-child:hover ul{display: block;}


    .tou_t2 li:nth-child(2){position:relative;z-index:2;}
    .tou_t2 li:nth-child(2) ul{display: none;width: 228px;height: 280px;background-color: #fff;padding:0 12px;position:absolute;top:20px;left:0;border: 1px solid #ccc;}
    .tou_t2 li:nth-child(2) ul li .tou_t2c{display: inline-block;width: 148px;height: 60px;padding-left: 5px;}
    .tou_t2 li:nth-child(2) ul li a{font-size: 10px;line-height: 14px;}
    .tou_t2 li:nth-child(2) ul li span{display: block;font-size: 10px;line-height: 14px;color: #FF4500;}
    .tou_t2 li:nth-child(2) ul li i{display: inline-block;width: 48px;height: 48px;}
    .tou_t2 li:nth-child(2) ul li:first-child i{background:url("../images/tidemall.png") -330px 0px;}
    .tou_t2 li:nth-child(2) ul li:nth-child(2) i{background:url("../images/tidemall.png") -390px 0px;}
    .tou_t2 li:nth-child(2) ul li:nth-child(3) i{background:url("../images/tidemall.png") -445px 0px;}
    .tou_t2 li:nth-child(2) ul li:nth-child(4){margin-top: 12px;}
    .tou_t2 li:nth-child(2) ul li:nth-child(4) span{display: inline-block;}
    .tou_t2 li:nth-child(2) ul li:nth-child(4) span:first-child{display: inline-block;font-weight: bold;color: #5A5A5A;margin-left: 62px;}
    .tou_t2 li:nth-child(2) ul li:nth-child(5) button{width: 102px;height: 24px;background-color: #515252;border-radius: 6px;font-size: 10px;color: #fff;margin-left: 50px;}
    .tou_t2 li:nth-child(2):hover>a{background-color: #fff;color: #FF4500;}
    .tou_t2 li:nth-child(2):hover ul{display: block;}
    
    /*-----------编写结束----------*/


    /*------------nav部分---------------------------*/
    /*-------h3及二级导航部分---------------*/
    #nav{height:30px;background-color: #2B2B2B;}
    .nav_l{width: 210px;position:relative;z-index:2;}
    .nav_l i:nth-child(1){line-height: 30px;color:#FFFFFF;padding-left:10px;}
    .nav_l i:nth-child(2),.nav_l i:nth-child(3){line-height:30px;color:#FFFFFF;}
    .nav_l:hover{background-color:#404040;}
    .nav_l:hover .nav1{display:block;}
    .nav_l:hover i{color:#CFCFC6;}


    /*二级导航*/
    /*以下部分由谭志坚于12月30日编写*/
    .nav_l .nav1{background-color: #fff;position: absolute;width: 210px;display:none;}
    .nav_l .nav1>li{padding-right:14px;padding-left:10px;padding-bottom:4px;}
    .nav_l .nav1>li p a{display:inline-block;padding-left:12px;}
    .nav_l .nav1 i{padding-left:145px;color:black;font-size:12px;}
    .nav_l .nav1>li:nth-child(2n){background-color: #F1F1F1;}

    .nav_l .nav1>li:hover{background-color: #2B2B2B;}
    .nav_l .nav1>li:hover .nav_con{display: block;} 
    #nav .nav_l .nav_con{width: 580px;height: 430px;position:absolute;top:0;left:210px;}
    #nav .nav_conl .ul1 h4{font-size: 10px;line-height: 20px;color: #999;}
    #nav .nav_conl{width: 410px;height: 430px;padding:12px 7px;background-color: #404040;}
    #nav .nav_conl .ul1 .nfl{border-top: 2px solid #999999;}
    #nav .ul1 li:nth-child(2) ul{border-top: 2px solid #999;}
    #nav .nav_conl .ul1 li:nth-child(2) li{float: left;margin-right:20px;line-height: 20px;}
    #nav .ul1 li:nth-child(3) .mlb{width: 265px;border-top: 2px solid #999;}
    #nav .ul1 li:nth-child(3) li{float: left;margin-right:20px;line-height: 35px;}
    #nav .ul1 li:last-child .nhl{width: 265px;border-top: 2px solid #999;}
    #nav .ul1 li:last-child li{float: left;margin-right:20px;line-height: 35px;}
    #nav .nav_conl .ul2{width: 130px;height: 230px;}
    #nav .nav_conl .ul2 li a{font-size: 10px;line-height: 20px;}
    #nav .nav_con a{color: #CFCFCF;}
    #nav .nav_con a:hover{color: #FF4500;}


    #nav .nav_conr{width: 170px;height: 430px;padding:12px 10px;background-color: #484848;}
    #nav .nav_conr h4{width: 135px;height: 20px;background-color: #5A5A5A;color: #fff;}
    #nav .nav_conr li a{font-size: 10px;line-height: 20px;}

    /*-----------编写结束----------*/

    
    /*------h3旁边部分--------*/
    .nav2 li{float:left;}
    .nav2 li a{display:block;line-height: 30px;}
    .nav2 li a span{padding:0 16px;border-right:1px solid #FFFFFF;color:#FFFFFF;padding-left:10px;}
    .nav2 li:nth-child(5) span{border-right:none;}
    .nav2 .icon-viewgallery{font-size: 12px;padding-right:3px;}
    .nav2 .icon-xiaoxi{color:orange;font-size: 13px;padding-right:3px;}
    .nav2 li:hover{background-color: #E54205;margin-left:-1px;padding-left:1px;}
    .nav2 li:hover span{border-color:#E54205;}
    .nav_r{width: 154px;height: 30px;background:url('../images/nav1.png');}


  /*-------------底部footer部分---------------*/
    #footer{margin-top: 30px;width:100%;}
    #footer .container{height: 241px;border-top: 2px solid #5A5A5A;}
    #footer .footer_t{width: 100%;height: 125px;padding-top: 10px;}
    #footer .footer_t .footer_tl{width: 740px;height: 115px;}
    #footer .footer_t .footer_tl dl{width: 135px;height: 115px;float: left;padding-left: 5px;margin-right: 50px;}
    #footer .footer_t .footer_tl dt{font-size: 10px;color: #333;font-weight: bold;line-height: 23px;}
    #footer .footer_t .footer_tl dd{font-size: 10px;color: #333;line-height: 18px;   }
    #footer .footer_t .footer_tl .dlr i{display: inline-block;width: 18px;height: 18px;background: url('../images/    tidemall.png');vertical-align:middle;}
    #footer .footer_t .footer_tl .dlr .tw{background-position: -30px 0;}
    #footer .footer_t .footer_tl .dlr .blog{background-position: -60px 0;}
    #footer .footer_t .footer_tl .dlr a{display: inline-block;width: 100px;height: 24px;margin-top: 3px;vertical-:    ;align:middle;}
    #footer .footer_t .footer_tl .dlr span{display: block;width: 100px;line-height: 12px;}
    #footer .footer_t .footer_tl .dlr span:nth-child(2){font-style: italic;}
    
    
    #footer .footer_t .footer_tr{width: 240px;height: 84px;}
    #footer .footer_t .footer_tr .email_1{display: inline-block;width: 39px;height: 84px;border-left: 1px solid #   ccc;background: url('../images/tidemall.png') -90px 0;vertical-align:middle;}
    #footer .footer_t .footer_tr .email{display: inline-block;width: 190px;height: 84px; vertical-align:middle;}
    #footer .footer_t .footer_tr .email p{font-size: 10px;line-height: 15px;color: #333;}
    #footer .footer_t .footer_tr .email input{margin-top:5px;width: 170px;height: 20px;border: 1px solid #5A5A5A;}
    #footer .footer_t .footer_tr .email button{width: 78px;height: 20px;font-size: 8px;text-align: right;border: 1    px solid #5A5A5A;background-color: #545454;margin-top: 3px;padding-right: 3px;position:relative;}
    #footer .footer_t .footer_tr .email .email_2{display: inline-block;width: 14px;height: 11px;background: url('..   /images/tidemall.png') -140px 0;position:absolute;top:3px;left: 3px;}
    
    #footer .footer_c{width: 100%;height: 64px;}
    #footer .footer_c i{display: inline-block;width: 735px;height: 32px;margin: 32px 0 0 125px;background: url('../   images/tidemall.png') 0 -100px;}
    
    
    #footer .footer_b{width: 100%;height: 52px;padding: 18px 0 22px 0;}
    #footer .footer_b p{font-size: 12px;color: #333333;text-align: center;}
    #footer .footer_b p a{color: #FF4500;}

   
    /*以下样式由谭志坚于12月30日修改*/
    #beautifulWoman{position:fixed;top:350px;right:90px;}
    #beautifulWoman a{content:"";display:block;width: 50px;height: 134px;background:url('../images/fixed-women.png');}
    #beautifulWoman span{display: block;width: 50px;height: 30px;background:url('../images/totop.png');}