#nav {
  position: relative;
}

#nav .backTop {
  width: 70px;
  height: 258px;
  position: fixed;
  top: 300px;
  right: 0;
  border: 1px solid #ccc;
}

#nav .backTop li:first-child a {
  display: block;
  width: 69px;
  height: 30px;
  background: url("../img/zouxiu.png") no-repeat 0 -260px;
}

#nav .backTop li:not(:first-child) a {
  display: block;
  width: 69px;
  height: 57px;
}

#nav .backTop li:nth-child(2) {
  background: url("../img/zouxiu.png") no-repeat -75px -260px;
}

#nav .backTop li:nth-child(3) {
  background: url("../img/zouxiu.png") no-repeat -160px -260px;
}

#nav .backTop li:nth-child(4) {
  background: url("../img/zouxiu.png") no-repeat -240px -260px;
}

#nav .backTop li:nth-child(5) {
  background: url("../img/zouxiu.png") no-repeat -320px -260px;
}

#main .main_good {
  width: 1200px;
  height: 738px;
  padding-left: 100px;
}

#main .main_good .main_title {
  width: 1000px;
  height: 42px;
}

#main .main_good .main_content {
  width: 1000px;
  height: 695px;
  padding-top: 17px;
}

#main .main_good .main_content .main_goodl {
  width: 403px;
  height: 678px;
  float: left;
}

#main .main_good .main_content .main_goodl .gds-zoom-big img {
  min-width: 1000px;
}

#main .main_good .main_content .main_goodl .imgbox {
  width: 403px;
  height: 537px;
  border: 1px solid #ccc;
  position: relative;
}

#main .main_good .main_content .main_goodl .imgbox span {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 100px;
  left: 80px;
}

#main .main_good .main_content .main_goodl .smallList {
  width: 403px;
  height: 140px;
  padding: 14px 0 0 5px;
}

#main .main_good .main_content .main_goodl .smallList img {
  float: left;
  width: 70px;
  height: 95px;
  border: 1px solid #ccc;
  margin-right: 10px;
}

#main .main_good .main_content .main_goodl .smallList img:last-child {
  margin-right: 0;
}

#main .main_good .main_content .main_goodr {
  width: 570px;
  height: 678px;
  float: right;
}

#main .main_good .main_content .main_goodr .main_goodrt {
  width: 570px;
  height: 63px;
}

#main .main_good .main_content .main_goodr .main_goodrt p:first-child {
  padding-top: 5px;
  font-size: 12px;
  font-weight: bold;
  color: #000;
}

#main .main_good .main_content .main_goodr .main_goodrt p:nth-child(2) {
  padding-top: 20px;
  font-size: 10px;
}

#main .main_good .main_content .main_goodr .main_goodrt p:nth-child(2) a {
  margin-right: 10px;
}

#main .main_good .main_content .main_goodr .main_goodrt p:nth-child(2) a:nth-child(2) {
  color: #005BA1;
}

#main .main_good .main_content .main_goodr .main_goodrt p:nth-child(2) span {
  padding-left: 220px;
}

#main .main_good .main_content .main_goodr .main_goodrc {
  width: 570px;
  height: 130px;
  padding-top: 15px;
}

#main .main_good .main_content .main_goodr .main_goodrc li {
  font-size: 10px;
  line-height: 30px;
}

#main .main_good .main_content .main_goodr .main_goodrc li:first-child span {
  font-size: 20px;
  color: #CF1700;
}

#main .main_good .main_content .main_goodr .main_goodrc li:nth-child(2) span {
  font-size: 12px;
  color: #EA7514;
  margin-right: 10px;
}

#main .main_good .main_content .main_goodr .main_goodrc li:nth-child(2) a {
  font-size: 12px;
  color: #005BA1;
}

#main .main_good .main_content .main_goodr .main_goodrb {
  width: 570px;
  height: 300px;
  padding-top: 5px;
}

#main .main_good .main_content .main_goodr .main_goodrb li {
  font-size: 10px;
  line-height: 45px;
}

#main .main_good .main_content .main_goodr .main_goodrb li:first-child span {
  display: inline-block;
  width: 40px;
  height: 22px;
  line-height: 22px;
  text-align: center;
  border: 1px solid #FF6701;
}

#main .main_good .main_content .main_goodr .main_goodrb li:nth-child(2) span {
  display: inline-block;
  width: 20px;
  height: 22px;
  line-height: 22px;
  text-align: center;
  border: 1px solid #FF6701;
}

#main .main_good .main_content .main_goodr .main_goodrb li:nth-child(3) span {
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
}

#main .main_good .main_content .main_goodr .main_goodrb li:nth-child(3) span:first-child, #main .main_good .main_content .main_goodr .main_goodrb li:nth-child(3) span:nth-child(3) {
  width: 14px;
  height: 14px;
  line-height: 14px;
  text-align: center;
  border: 1px solid #ccc;
}

#main .main_good .main_content .main_goodr .main_goodrb li:nth-child(3) span:nth-child(2) {
  width: 50px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border: 1px solid #ccc;
}

#main .main_good .main_content .main_goodr .main_goodrb li:nth-child(4) span {
  display: inline-block;
  width: 360px;
  height: 16px;
  background: url("../img/zouxiu.png") no-repeat 0 -190px;
}

#main .main_good .main_content .main_goodr .main_goodrb li:nth-child(5) span {
  display: inline-block;
  margin-right: 15px;
  vertical-align: middle;
}

#main .main_good .main_content .main_goodr .main_goodrb li:nth-child(5) span:first-child {
  width: 155px;
  height: 38px;
  background: url("../img/zouxiu.png") no-repeat 0 -210px;
}

#main .main_good .main_content .main_goodr .main_goodrb li:nth-child(5) span:nth-child(2) {
  width: 155px;
  height: 38px;
  background: url("../img/zouxiu.png") no-repeat -165px -210px;
}

#main .main_good .main_content .main_goodr .main_goodrb li:nth-child(5) span:nth-child(3) {
  width: 63px;
  height: 38px;
  background: url("../img/zouxiu.png") no-repeat -325px -210px;
}

#main .main_good .main_content .main_goodr .main_goodrb li:nth-child(6) span {
  display: inline-block;
  width: 323px;
  height: 16px;
  background: url("../img/zouxiu.png") no-repeat -370px -190px;
}

#main .main_good .main_content .main_goodr .main_goodrf {
  width: 570px;
  height: 185px;
}

#main .main_info {
  width: 1200px;
  height: 4092px;
  padding-left: 100px;
}

#main .main_info .main_infot {
  width: 1000px;
  height: 38px;
}

#main .main_info .main_infot li {
  float: left;
  padding: 0 42px 0 42px;
  height: 38px;
  line-height: 38px;
  border-right: 1px solid #fff;
}

#main .main_info .main_infot li:last-child {
  border-right: none;
  padding: 0 0 0 166px;
}

#main .main_info .main_infot li:last-child span {
  display: inline-block;
  height: 25px;
  text-align: center;
  line-height: 25px;
}

#main .main_info .main_infot li:last-child span:first-child {
  width: 50px;
  font-size: 20px;
  color: #CC1700;
}

#main .main_info .main_infot li:last-child span:nth-child(2) {
  width: 98px;
  background: #74B554;
}

#main .main_info .main_infot li:not(:last-child):hover {
  background: #f60;
  color: #fff;
}

#main .main_info .main_infob {
  width: 1200px;
  height: 4054px;
}

#main .main_comment {
  width: 1200px;
  height: 1584px;
  padding-left: 100px;
}

#main .main_comment .main_cot {
  width: 775px;
  height: 173px;
}

#main .main_comment .main_cot .main_cotl {
  float: left;
  width: 560px;
  height: 173px;
}

#main .main_comment .main_cot .main_cotr {
  float: right;
  width: 215px;
  height: 173px;
  padding: 41px 0 0 37px;
  border: 1px solid #ccc;
}

#main .main_comment .main_cot .main_cotr span {
  display: inline-block;
  width: 114px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  background: #EA7514;
  color: #fff;
}

#main .main_comment .main_cot .main_cotr p {
  font-size: 10px;
  line-height: 20px;
}

#main .main_comment .main_cot .main_cotr p a {
  color: #005BA1;
}

#main .main_comment .main_coc {
  width: 775px;
  height: 296px;
}

#main .main_comment .main_cob {
  width: 775px;
  height: 1475px;
}

#main .main_comment .main_cob .main_cobt {
  width: 775px;
  height: 103px;
}

#main .main_comment .main_cob .main_cobc {
  width: 775px;
}

#main .main_comment .main_cob .main_cobc li {
  float: left;
}

#main .main_comment .main_cob .main_cobc li:first-child {
  width: 137px;
  height: 265px;
  padding: 43px 25px 0 25px;
}

#main .main_comment .main_cob .main_cobc li:first-child p {
  line-height: 25px;
  text-align: center;
}

#main .main_comment .main_cob .main_cobc li:first-child span:first-child {
  color: #F6A41E;
}

#main .main_comment .main_cob .main_cobc li:nth-child(2) {
  padding: 67px 0 0 22px;
  width: 140px;
  height: 265px;
  border: 1px solid #ccc;
  border-right: none;
}

#main .main_comment .main_cob .main_cobc li:nth-child(3) {
  padding-top: 67px;
  line-height: 22px;
  width: 498px;
  height: 265px;
  border: 1px solid #ccc;
  border-left: none;
}

#main .main_comment .main_cob .main_cobc li:nth-child(3) p:nth-child(4) {
  height: 85px;
  padding-top: 20px;
}

#main .main_comment .main_cob .main_cobc li:nth-child(3) p:last-child span {
  margin-left: 120px;
}

#main .main_comment .main_cob .main_cobb {
  width: 775px;
  padding: 22px 0 17px 112px;
}

#main .main_comment .main_cob .main_cobb a {
  color: #005BA1;
}

#main .main_comment .main_cob .main_cobb li {
  float: left;
  margin-right: 2px;
  text-align: center;
  line-height: 23px;
}

#main .main_comment .main_cob .main_cobb li:not(:nth-child(4)) {
  width: 62px;
  height: 23px;
  border: 1px solid #ccc;
}

#main .main_comment .main_cob .main_cobb li:first-child {
  width: 290px;
  height: 23px;
  border: none;
}

#main .main_comment .main_cob .main_cobb li:nth-child(4) span {
  display: inline-block;
  width: 23px;
  height: 23px;
  border: 1px solid #ccc;
  margin-right: 2px;
}
